.prueba{
    background-color:#212529 ;
    color:#fff;;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;


}

.prueba1{
    background-color:#212529 ;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
}

.prueba2{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.izquierda{
    margin-left: 280px;
}